<nav class='colorbackground' aria-label="breadcrumb">
    <ol class="colorbackground breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<h5 class='col-md-12'>Dashboard</h5>
<br>

<div class="row col-lg-12">
    <div class="card col-md-3 ml-4 mt-2 colorCard1">
        <h5 style="color: white;">Quantidade de Imóveis</h5> 
        <p style="color: white;">60</p>
    </div>

    <div class="card col-md-3 ml-4 mt-2 colorCard2">
        <h5 style="color: white;">Quantidade de Aluguéis</h5> 
        <p style="color: white;">50</p>
    </div>
    
    <div class="card col-md-3 ml-4 mt-2 colorCard3">
        <h5 style="color: white;">Valor Total de Aluguéis</h5> 
        <p style="color: white;">R$ 6.000,00</p>
    </div>
</div>

<br>
<div class="col-md-12">
    <app-my-line-chart></app-my-line-chart>
  </div>