.colorbackground{
    background-color: white!important;
    font-size: 12px;
}

.colorCard1{
    background-color: #007bff;
}

.colorCard2{
    background-color: #6610f2;
}

.colorCard3{
    background-color: #28a745;
}